*,
*:before,
*:after {
    box-sizing: border-box;
}

html {
    overflow-y: scroll;
}

body {
    background: #179b77;
    font-family: 'Courier New', Courier, monospace;
}

a {
    text-decoration: none;
    color: #1ab188;
    transition: .5s ease;
}

a:hover {
    color: #179b77;
}

.form {
    background: rgba(19, 35, 47, 1);
    padding: 25px;
    max-width: 45%;
    margin: 40px auto;
    border-radius: 4px;
    box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}

.tab-group {
    list-style: none;
    padding: 0;
    margin: 0 0 40px 0;
}

.tab-group:after {
    content: "";
    display: table;
    clear: both;
}

.tab-group li a {
    display: block;
    text-decoration: none;
    padding: 15px;
    background: rgba(160, 179, 176, 0.25);
    color: #a0b3b0;
    font-size: 20px;
    float: left;
    width: 50%;
    text-align: center;
    cursor: pointer;
    transition: .5s ease;
}

.tab-group li a:hover {
    background: #179b77;
    color: #ffffff;
}

.tab-group .active a {
    background: #1ab188;
    color: #ffffff;
}

.tab-content>div:last-child {
    display: none;
}

h1 {
    text-align: center;
    color: #ffffff;
    font-weight: 300;
    margin: 0 0 40px;
}

h2 {
    color: #179b77;
    ;
}

.button {
    border: 0;
    outline: none;
    border-radius: 6px;
    padding: 10px 10px;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .1em;
    background: #1ab188;
    color: #ffffff;
    transition: all 0.5s ease;
}

.button:hover,
.button:focus {
    background: #179b77;
    color: #ffffff;
}

.button-block {
    display: block;
}


div {
    color: #ffffff;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.photo {
    border-radius: 30px;
}

.img {
    width: auto;
    height: 700px;
}

#MyProjects b {
    float: left;
    text-decoration: underline;
    color: #ffffffb7;
}

.topnav {
    overflow: hidden;
    background-color: rgba(19, 35, 47, 1);
    position: fixed;
    margin-top: -8px;
    margin-left: -8px;
    margin-right: -8px;
    box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
    width: 100%;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a:active {
    background-color: #1ab188;
    color: white;
}

.topnav a.active {
    background-color: #1ab188;
    color: white;
}

@media only screen and (max-width: 1081px) {
    .img {
        width: auto;
        height: 500px;
    }

    .forms {
        max-width: 90%;
    }

    .topnav a{
        font-size: 30px;
    }
}